<div id="post-list" class={post_dividers(@current_user)} phx-update="append">
    <div :for={post <- @post_list} id={"post-#{post.id}"} class={topic_content_style(@current_user)}>
      <.author_infobox
        current_user={@current_user}
        post={post}
        id={"post-#{post.id}-author-info"}
      />

      <.live_component module={PhxBbWeb.PostContent}
        active_user={@current_user}
        active_post={post}
        id={"post-#{post.id}-content"}
      />
    </div>
</div>
