<%= if @current_user do %>
  <div class="py-2 max-w-sm mx-auto rounded-xl
              shadow-md antialiased relative opacity-100
              font-sans bg-gray-100">
    <div class="text-center">
      Logged in as: <%= @current_user.username %>
      <br>
    </div>
    <div class="text-purple-700 flex justify-center">
      <div class="hover:underline">
        <%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="hover:underline">
        <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %>
      </div>
    </div>
  </div>
<% else %>
  <div class="py-2 max-w-sm mx-auto rounded-xl
              shadow-md antialiased relative opacity-100
              font-sans bg-gray-100">
    <div class="text-purple-700 flex justify-center">
      <div class="hover:underline">
        <%= link "Register", to: Routes.user_registration_path(@conn, :new) %>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="hover:underline">
        <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
      </div>
    </div>
  </div>
<% end %>
